@model IEnumerable<FPTAppDev.Models.Course>
@{
    ViewBag.Title = "TrainerCourse";
}

<h2>Your Course</h2>

<table class="table">
    <thead>
        <tr>
            <th>Course</th>
            <th>Description</th>
            <th>Category</th>
            <th>Trainees</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Category.Name</td>
            <td>
                @Html.ActionLink("Show Trainees", "ViewTrainee", "Trainer", new { id = @item.Id }, new { @class = "btn btn-primary" })
            </td>
        </tr>
        }
    </tbody>
</table>