@model IEnumerable<FPTAppDev.Models.Trainee>
@{
    ViewBag.Title = "TraineeList";
}

<h2>Trainee</h2>

<div class="form-group">
    @Html.ActionLink("Create a new Trainee", "CreateTrainee", "Staff", new { @class = "btn btn-primary" })
</div>

@using (Html.BeginForm("TraineeList", "Staff", FormMethod.Get))
{
<div class="form-group">
    @Html.TextBox("searchString", null, new { @class = "form-control", placeholder = "Search by trainee name or age" })
</div>
<button type="submit" class="btn btn-primary">Search</button>
}
@Html.ValidationSummary("", new { @class = "text-danger" })
<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Age</th>
            <th>Birthday</th>
            <th>Address</th>
            <th>Education</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.User.Email</td>
            <td>@item.Name</td>
            <td>@item.Age</td>
            <td>@item.BirthDate.ToShortDateString()</td>
            <td>@item.Address</td>
            <td>@item.Education</td>
            <td>
                @Html.ActionLink("Delete", "DeleteTrainee", "Staff", new { id = @item.TraineeId },
            new { @class = "btn btn-danger", onClick = "return confirm ('Are you sure ?')" })
                @Html.ActionLink("Edit", "EditTrainee", "Staff", new { id = @item.TraineeId }, new { @class = "btn btn-primary" })
            </td>
        </tr>
        }
    </tbody>
</table>